body{
    background-image: url('./sun.jpg');
    color:#000305;
    font-size: 80%;
    font-family: arial,'Lucida Sans';
    line-height: 1.5;
    text-align: left;
}
a{
    text-decoration: none;
}
a:link,a:visited{

}
a:hover,a:active{

}
.body{
    margin: 0 auto;
    width: 70%;
    clear: both;

}
.mainheader img{
    width: 30%;
    height: auto;
    margin: 2%;
}
.mainheader nav{
    background-color: #666;
    height: 40px;
    border-radius: 5px
    ;
}
